@model ShopApp.Entity.Concrete.Product
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Ürün Ekle</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("AddProduct", "Product", FormMethod.Post))
                {
                    <div class="form-group">

                        <label>Kategori</label>
                        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control", @id = "exampleInputEmail1", @placeholder = "Kategori" })
                        @Html.ValidationMessageFor(x => x.CategoryId)

                    </div>
                    <div class="form-group">

                        <label>Ürün Adı</label>
                        @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", @id = "exampleInputEmail1", @placeholder = "Ürün Adı" })
                        @Html.ValidationMessageFor(x => x.ProductName)

                    </div>
                    <div class="form-group">

                        <!-- /.card-header -->
                        
                            <label>Açıklama</label>
                            <div class="mb-3">
                                @Html.TextAreaFor(x => x.Description, new
                           {
                               @style = "width: 100%; height: 300px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"
                           })
                                @Html.ValidationMessageFor(x => x.Description)

                        </div>
                    </div>
                    <div class="form-group">

                        <label>Fiyat</label>
                        @Html.TextBoxFor(x => x.Price, new { @class = "form-control", @id = "exampleInputEmail1", @placeholder = "Fiyat" })
                        @Html.ValidationMessageFor(x => x.Price)
                    </div>
                    <div class="form-group">

                        <label>Stok Miktarı</label>
                        @Html.TextBoxFor(x => x.StockAmount, new { @class = "form-control", @id = "exampleInputEmail1", @placeholder = "Stok" })
                        @Html.ValidationMessageFor(x => x.StockAmount)
                    </div>

                    <div class="form-group">
                        <div class="clearfix">
                            <button class="btn btn-info float-right"><i class="fas fa-plus"></i> Kaydet</button>
                        </div>
                    </div>
                }
                <!-- /.form-group -->
            </div>
            <!-- /.col -->

        </div>

        <!-- /.row -->
    </div>
    <!-- /.card-body -->
</div>
